
.img{
    width: 100px; 
    height: 100px;
}
.facebook{
}
    .img{
  
}

.instagram{}
.principal{
   
}
.snapchat{}
.texto1{
    filter: shadow(color=#555555, direction=135, strength=2);
    width: 100%;

}
.twiter{}
.youtube{}